.graph{
	padding:5px;

    background-color:lightGrey;
    border:1px solid Grey;
    border-radius:10px;
}

#graph{
	border:1px solid Grey;
	border-radius:5px;

	width:400px;
	height:400px;

	margin:5px;
	padding:10px;

	background-color:white;
}