
html{
	background-color: #e5e5f7;
	opacity: 1;
	/*background-image:	linear-gradient(#cacaca 2px, transparent 2px), 
						linear-gradient(90deg, #cacaca 2px, transparent 2px),
						linear-gradient(#cacaca 1px, transparent 1px),
						linear-gradient(90deg, #cacaca 1px, #f5f5f5 1px);*/
	background-image:  linear-gradient(#cccccc 2.5px, transparent 2.5px), linear-gradient(to right, #cccccc 2.5px, #e2e2e2 2.5px);
	background-size: 50px 50px;
}

hr{
	margin: 3px 0px 3px 0px;
	border: 1px solid lightGrey;
}

body{
	margin: 0px;
	padding: 0px;
	
}

/*div{}*/

.pad{
	padding:10px;
}
.marg{
	margin: 10px;
}

.top{
	width:100%;
}

.cent{
	margin-left:auto;
	margin-right:auto;
	width:60em;
	background-color:white;
	box-shadow: 0px 3px 3px 3px rgba(148, 148, 148, 0.459);
	border-radius:10px;
}

.f_cent{
	display: flex;
	justify-content: center;
}

.desc{
	margin: 10px;

}

.menu{
	background-color: lightGrey;
	width:10em;
	height:20em;
}

.block{
    display:block;
}